@model ContentManagerMVC.Models.MediaContent

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "MediaContent",
                    FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>MediaContent</legend>
        <div>
         <label for="file">FilePath:</label>
         <input type="file" name="file" id="file" /><br />
        </div>
          <p>
            <input type="submit" value="Upload" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
