@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>Content Manager Application</h1>
</hgroup>

<article>
<h2>To Do:</h2>
    <p>
        1. Please register your username and password on Server. Then wait for Administrator's approval.
    </p>

    <p>
        2. Add your Local Player to server and setup connection.
    </p>

    <p>
        3. Upload your contents to server and schedule them to the player.
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>